div {
    display: flex;
    justify-content: space-between;

    .portal {
        display: flex;
        flex-direction: column;
        align-items: center; // Para centralizar a imagem e o texto
        padding: 10px;

        img {
            object-fit: cover; // Para ajustar a imagem ao tamanho especificado
            margin-bottom: 10px; // Espaçamento entre a imagem e o texto
        }

        p {
            text-align: center; // Centraliza o texto
        }
    }

    .list_news {
        display: flex;
        flex-direction: column;
        padding: 10px;

        ul {
            margin: 5px 0;
            padding: 5px;
        }
    }
}
